body {
	font-family: 'Tangerine', serif;
	font-size: 50px;
        font-color:#DB5844
        text-align:center;
	backgound-color: #46C7C7;
}

h1 {
	font-family: 'Tangerine', serif;
        font-size: 32px;
        font-color:#DB5844
        text-align:center;
}

p { 
	font-family: ‘Metrophobic’, Arial, serif; 
	font-weight: 400; 
	font-size: 18px;
	margin-left: 40px;
	text-align:left;
}

ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;	
	overflow: hidden;
	font-size: 32px;
}

li {
    float: left;
}

a:link, a:visited {
    display: block;
    width: 400px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #5E7D7E;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #7D5F5E;
}

